<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-12">
    <img src=<%= @user.image %> class = "icon_image">
    <%= render 'shared/user_info' %>
  
    <%= render 'follow_form' %> 
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="userposts">
      <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
